/* Frank Poth 2019-11-25 */

:root {

  --color-dark-yellow:#c09000;
  --color-light-gray:#e0e8f0;
  --color-lighter-gray:#f0f8ff;
  --color-medium-gray:#606870;
  --color-signature-gray:#202830;
  --color-signature-yellow:#f0c000;
  --color-transparent:rgba(0,0,0,0);
  --color-white:#ffffff;
  --header-height:64px;

}

* {
  
  box-sizing:border-box;
  font-family:Consolas, monospace;
  margin:0;
  padding:0;
  text-decoration:none;

}

*:focus {

  outline:none;

}

body, html {

  height:100%;
  width:100%;

}

body {

  text-align:center;

}

footer {

  align-content:space-around;
  align-items:space-around;
  background-color:var(--color-signature-gray);
  color:#ffffff;
  display:grid;
  flex-direction:column;
  justify-content:center;
  justify-items:center;
  height:100%;

}

header {

  align-content:center;
  align-items:center;
  border-bottom:4px solid var(--color-signature-gray);
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  justify-items:space-between;
  min-height:var(--header-height);
  padding:8px 4px 8px 4px;

}

main {

  display:inline-block;
  min-height:calc(100% - var(--header-height));
  padding:8px 4px 4px 4px;

}

.example {

  background-color:var(--color-lighter-gray);
  border-radius:8px;
  display: inline-block;
  margin:4px 0px;

}

.example-link {

  background-color:var(--color-light-gray);
  border-radius:0px 0px 8px 8px;
  color:var(--color-signature-gray);
  cursor:pointer;
  display:inline-block;
  margin:0px 0px 4px;
  padding:4px 8px;

}

.example-link:hover {

  background-color:var(--color-white);

}

.example-links {

  text-align:left;

}

.example-name {

  background-color:var(--color-light-gray);
  border-radius:8px 8px 0px 0px;
  color:var(--color-signature-gray);
  display:inline-block;
  padding:4px 8px;
  text-align:left;
  user-select:none;
  width:100%;

}

.example-note {

  color:var(--color-signature-gray);
  display:inline-block;
  max-width:640px;
  padding:0px 4px 4px 4px;
  text-align:left;
  user-select:none;

}

.header-link {

  color:var(--color-medium-gray);
  cursor:pointer;
  padding:12px 8px 8px 8px;

}

.header-link:hover {

  color:var(--color-signature-gray);

}

#footer-note {

  text-align:center;

}

#header-links {

  display:flex;
  flex-wrap:wrap;
  justify-content:left;
  justify-self:stretch;

}

#header-logo {

  align-content:center;
  align-items:center;
  display:inline-flex;

}

#header-logo-image {

  display:inline-block;
  height:var(--header-height);
  image-rendering:pixelated;
  margin:0px 16px 0px 0px;
  width:var(--header-height);

}

#header-logo-text {

  color:var(--color-signature-gray);
  display:inline;
  text-align:left;
  word-wrap: wrap break-word;

}

#main-example-container {

  align-items: flex-start;
  display:flex;
  flex-direction:column;

}

#main-filter-bar {

  display:flex;
  padding:0px 0px 4px 0px;

}

#main-filter-button {

  align-items:center;
  background-color:var(--color-light-gray);
  border-radius:8px;
  color:var(--color-signature-gray);
  cursor:pointer;
  display:inline-flex;
  padding:8px;

}

#main-filter-button:hover {

  background-color:var(--color-white);

}

#main-filter-query {

  align-content:center;
  align-items:center;
  border:2px solid var(--color-transparent);
  border-radius:8px;
  display:inline-flex;
  margin:0px 8px 0px 0px;
  min-width:50%;
  padding:0px 8px 0px 8px;

}

#main-filter-query:empty {

  caret-color:var(--color-transparent);

}

#main-filter-query:empty:before {

  color:var(--color-medium-gray);
  content:attr(data-placeholder);

}

#main-filter-query:focus {

  border-color:var(--color-signature-yellow);

}