/* Frank Poth 2019-11-25 */

#main-filter-bar {

  display:flex;
  padding:4px 0px 4px 0px;

}

#main-filter-query {

  align-content:center;
  align-items:center;
  border:2px solid var(--color-transparent);
  border-radius:8px;
  display:inline-flex;
  margin:0px 8px 0px 0px;
  min-width:50%;
  padding:0px 8px 0px 8px;

}

#main-filter-query:empty {

  caret-color:var(--color-transparent);

}

#main-filter-query:empty:before {

  color:var(--color-medium-gray);
  content:attr(data-placeholder);

}

#main-filter-query:focus {

  border-color:var(--color-signature-yellow);

}